<h1>Student Dashboard</h1>
<%= link_to 'SUBMIT HOMEWORK', new_submission_path,  class:'btn btn-primary btn-lg '%>

<div class='row'>

  <div class='col-md-8'>
    <p class='muted'>Assignments</p>
    <section class='assignments'>
      <header><h3> Assignments</h3></header>
      <ul class='list'>
        <% assignments.each do |assignment| %>
          <li>
            <div class='assignment'>
              <div class='row'>
                <div class='col-md-8'><h4><%= assignment.title.titleize %></h4></div>
                <div class='col-md-2'><h5><%= due_in(assignment) %></h5></div>
                <div class='col-md-2'>
                  <%= status_for(assignment, current_student) %>
                </div>
              </div>
              <div class='row'>
                <ul>
                <% assignment.submissions_for(current_student).each do |submission| %>
                  <li><%= submission.link %> late: <%= !!submission.late %> complete: <%= !!submission.completed %> </li>
                <% end %>
                </ul>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </section>

    <p class='muted'>Notes</p>
    <section class='checkin'>
      <a class='btn btn-primary'>READ</a>
    </section>
  </div>

  <div class='col-md-4'>
    <p class='muted'>Attendance</p>
    <section class='checkin'>
      <div>
        <% if current_day.present?(current_student) %>
          <a class='btn btn-primary btn-lg full-width'>
            <%= current_day.checkin_for(current_student).checkin_status.upcase %>
          </a>
        <% else %>
          <%= react_component('Checkin', { tardies: current_student.tardies, absences: current_student.absences }) %>
        <% end %>
      </div>
      <a class="btn btn-default btn-sm" data-toggle="collapse" href="#attendance-info" aria-expanded="false" aria-controls="collapseExample"> What is this?</a>
      <div id='attendance-info' class='collapse' style='margin-top:10px;'>
        <div class='well'>
          <p class='muted'>You <strong>must</strong> checkin every day to be considered present for that class.</p>
          <p class='muted'>Checkin needs to occur before <%= current_day.late_time %> to not be considered tardy.</p>
        </div>
      </div>
    </section>
    <p class='muted'>Messages</p>
    <section class='checkin'>
      <a class='btn btn-primary'>READ</a>
      <%= react_component('LikeButton') %>
    </section>
  </div>

</div>
