<h1>Student Dashboard</h1>
<%= link_to 'SUBMIT HOMEWORK', new_submission_path,  class:'btn btn-primary btn-lg '%>
<%= link_to 'CURRENT ASSIGNMENT', current_assignment_path,  class:'btn btn-default btn-lg '%>

<div class='row'>
  <div class='col-md-push-8 col-md-4'>
    <div class='row'>
      <%= render partial: 'attendance', locals: { current_day: current_day } %>
    </div>
    <div class='row'>
      <%= render partial: 'adjustments', locals: { current_student: current_student } %>
    </div>
  </div>
  <div class='col-md-pull-4 col-md-8'>
    <%= render partial: 'assignments', locals: { assignments: assignments } %>
  </div>
</div>
