<section class='assignments'>
  <header class='visible-xs'>
    <h3>Assignments</h3>
  </header>
  <div class='col-md-12'>
    <header class='hidden-xs'>
      <h3>Assignments</h3>
    </header>
    <div class='filters'>
      <%= link_to "View All",        params.merge(filter: :all),        class: 'btn btn-primary' %>
      <%= link_to "View Incomplete", params.merge(filter: :incomplete), class: 'btn btn-default' %>
      <%= link_to "View Complete",   params.merge(filter: :complete),   class: 'btn btn-default' %>
      <%= link_to "View Late",       params.merge(filter: :late),       class: 'btn btn-default' %>
      <span class='hidden-xs'>
        <%= react_component('SearchAssignments', {}, tag: 'span' ) %>
      </span>
    </div>
    <ul class='list'>
      <% weekly_assignments.each_with_index do |(week, assignments), index| %>
        <li>
          <h3>Week <%= week_number(weekly_assignments_count, index) %> (<%= react_time(week) %>)</h3>
          <ul class='assignments'>
            <% assignments.each do |assignment| %>
              <li>
                <%= render partial: 'assignment', locals: {
                  assignment: assignment,
                  submissions: assignment.submissions_for(current_user.student)
                } %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</section>
