<%= render partial: 'dashboard/nav' %>
<h1>Edit Assignment</h1>

<%= simple_form_for(assignment) do |f| %>
  <div class='form-inputs'>
    <%= f.input :title, required: true %>
    <%= f.input :info, hint: 'put markdown in me', required: true %>
    <%= f.input :due_date, as: :string, input_html: { class: 'datetimepicker', value: assignment.due_date || (Time.zone.tomorrow + 8.hours) }, required: true %>
  </div>
  <div class='form-actions'>
    <%= f.button :submit %>
  </div>
<% end %>
