<div class='col-md-10 col-md-offset-1
            col-lg-8  col-lg-offset-2'>
  <%= render partial: 'dashboard/nav' %>
  <article>
    <header>
      <div class='row'>
        <div class='visible-xs-inline col-xs-12'>
          <h3><%= assignment.title %><div style='float: right'><strong>Due: </strong> <%= time_ago_in_words assignment.due_date %></div></h3>
        </div>
        <div class='hidden-xs col-sm-8'>
          <h3><%= assignment.title %></h3>
        </div>
        <div class='hidden-xs col-sm-4'>
          <h3><strong>Due: </strong> <%= time_ago_in_words assignment.due_date %></h3>
        </div>
      </div>
    </header>

    <%= markdown assignment.info %>

    <footer>
      <%= link_to 'SUBMIT HOMEWORK', new_submission_path,  class:'btn btn-default' %>
    </footer>
  </article>
</div>
