<%= render partial: 'instructor_dashboard/nav', locals: { cohort: cohort } %>
<div class='row'>
  <div class='col-md-12'>
    <div class='row'>
      <div class='col-md-6'>
        <%= render partial: 'submissions', locals: { submissions: submissions } %>
      </div>
      <div class='col-md-6'>
        <%= render partial: 'attendance',  locals: { current_day: current_day } %>
        <%= render partial: 'adjustments', locals: { adjustments: adjustments } %>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <%= render partial: 'assignments', locals: { assignments: assignments } %>
      </div>
      <div class='col-md-6'>
        <%= render partial: 'students', locals: { students: students } %>
      </div>
    </div>
  </div>
</div>
