<div class='row'>
  <div class='col-md-9'>
    <div class='row'>
      <h2><%= t('.assignments') %></h2>
      <% assignments.each do |assignment| %>
        <p><%= assignment %></p>
      <% end.empty? and begin %>
        <p> No Assignments </p>
      <% end %>
    </div>
    <div class='row'>
      <h2><%= t('.students') %></h2>
      <% students.each do |student| %>
        <p><%= student %></p>
      <% end.empty? and begin %>
        <p> No Students </p>
      <% end %>
    </div>
  </div>
  <div class='col-md-3'>
    <nav>
      <ul>
        <li><%= link_to t('.new-cohort'), new_cohort_path, class: 'btn btn-default' %></li>
        <li><%= link_to t('.new-assignment'), new_assignment_path, class: 'btn btn-default' %></li>
      </ul>
    </nav>
  </div>
</div>
