<div class='col-md-offset-2 col-md-8'>
  <h1> Student Assessment Form </h1>
  <%= simple_form_for 'report', url: '/students/reports/assessment', method: :get, html: { class: 'form' } do |f| %>

    <% if params[:manual].present? %>
      <%= f.input :student %>
      <%= f.input :campus, input_html: { value: 'Austin' } %>
      <p></p>
      <%= f.input :course, collection: ['Ruby on Rails Engineering', 'Front End Engineering', 'UI Design'] %>
      <%= f.input :cohort  %>
      <%= f.input :instructor %>
      <%= f.input :completed_assignments, as: :integer, wrapper_html: { class: 'col-md-3' } %>
      <%= f.input :total_assignments, as: :integer,     wrapper_html: { class: 'col-md-3' } %>
      <%= f.input :absences, as: :integer,       wrapper_html: { class: 'col-md-2' }%>
      <%= f.input :tardies, as: :integer,        wrapper_html: { class: 'col-md-2' }  %>
      <%= f.input :total_lectures, as: :integer, wrapper_html: { class: 'col-md-2' } %>
    <% else %>
      <%= f.input :student, collection: students.map { |x| [x.name, x.id] } %>
    <% end %>

    <% %i(participation effort skill overall).each do |metric| %>
      <%= f.input metric, collection: 1..3, as: :radio_buttons, checked: 3, wrapper_html: { class: 'col-md-5' },label_html: { class: 'radio-inline' }, item_wrapper_class: 'radio-inline' %>
      <%= f.input "#{metric}_comments".to_sym, as: :text , wrapper_html: { class: 'col-md-5' }%>
    <% end %>

    <%= f.input :status, collection: %w(Satisfactory Unsatisfactory Probation), as: :radio_buttons, checked: 'Satisfactory', label_html: { class: 'radio-inline' }, item_wrapper_class: 'radio-inline', wrapper_html: { class: 'col-md-12' } %>



    <div class='row'>
      <div class='col-md-12'>
        <%= f.input :debug, label: 'Format', collection: [ ['HTML', true], ['PDF', false] ], as: :radio_buttons, checked: 'HTML', label_html: { class: 'radio-inline' }, item_wrapper_class: 'radio-inline', wrapper_html: { class: 'col-md-12' }  %>
        <%= f.submit 'Create Assessment' , class: 'btn btn-lg btn-primary' %>
        <%= f.submit 'Create Assessment' , class: 'btn btn-lg btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
