<section>
  <header>
    <h3><%= t('.assignments') %></h3>
  </header>
  <div class='filters'>
    <%= link_to "no op",      params.merge(filter: :all),      class: 'btn btn-primary' %>
    <%= react_component('SearchAssignments', {}, tag: 'span' ) %>
  </div>
  <ul class='list'>
    <% assignments.each do |assignment| %>
      <li><%= link_to(assignment.title.titleize, staff_cohort_assignment_path(assignment.cohort, assignment)) %>
      <span style='float: right;'><%= react_time(assignment.due_date) %></span></li>
    <% end.empty? and begin %>
      <p> No Assignments </p>
    <% end %>
  </ul>
</section>
