<section>
  <header>
    <h3><%= t('.submissions') %> (<%= submissions.count %>)</h3>
  </header>
  <ul class='list'>
    <% submissions.group_by(&:assignment).each do |assignment, submissions| %>
      <li>
        <div class='assignment'>
          <%= link_to(assignment.title.titleize, assignment) %>
          <span style='float: right;'><%= react_time(assignment.due_date) %></span>
        </div>
        <ul class='submissions'>
          <% submissions.group_by(&:student).each do |student, grouped| %>
            <%= link_to(student.decorate.pretty_name, student) %>
            <% grouped.each do |submission| %>
              <li>
                <div class='row'>
                  <div class='col-md-10 col-sm-10 col-xs-8'>
                    <p><%= submission.notes %></p>
                    <%= link_to "Link (on #{submission.decorate.link_domain})", submission.link, target: "_blank" %> | <%= link_to "View", submission_path(submission) %>
                  </div>
                  <div class='col-md-2 col-sm-2 col-xs-4'>
                    <%= react_component('MarkAsComplete', { submissionID: submission.id }) %>
                  </div>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </li>
    <% end.empty? and begin %>
      <h4> No Submissions </h4>
    <% end %>
  </ul>
</section>
