<%= render partial: 'dashboard/nav' %>
<article>
  <header>
    <h1><%= link_to submission.student.name, submission.student %>'s Submission for <%= link_to submission.assignment.title, submission.assignment %></h1>
    <p><strong>Due: </strong> <%= react_time submission.assignment.due_date %>
    <strong>Turned In: </strong> <%= react_time submission.created_at %></p>
  </header>

  <% if can_edit?(submission) %>
    <%= react_component('EditSubmission', submission: submission) %>
  <% else %>
    <%= react_component('Submission', submission: submission) %>
  <% end %>

  <p class='muted'>Status</p>
  <section>
    <h4><%= submission.status %></h4>
    <% submission.ratings.each_with_index do |rating, index| %>
      <% if rating.has_feedback? %>
        <p class='muted'>Feedback on Submission added <%= distance_of_time_in_words_to_now rating.created_at %> ago</p>
        <section>
        <% if current_instructor %>
          <%= react_component('EditRating', rating: rating) %>
        <% else %>
          <%= react_md(rating.notes) %>
        <% end %>
        </section>
      <% end %>
    <% end %>
  </section>

  <h1></h1>
  <% if current_instructor %>
    <%= react_component('GradeSubmissionForm', { submissionID: submission.id,
                                                 nextForStudent: next_submission_url_for_student(submission),
                                                 nextForAssignment: next_submission_url_for_assignment(submission)}) %>
  <% end %>
</article>

