<%= render partial: 'dashboard/nav' %>
<article>
  <header>
    <h1><%= submission.student.name %>'s Submission for <%= submission.assignment.title %></h1>
    <p><strong>Due: </strong> <%= due_in(submission.assignment) %>
       <strong>Turned In: </strong> <%= distance_of_time_in_words_to_now submission.created_at %></p>
  </header>

  <p class='muted'>Submission</p>
  <section>
    <p><%= link_to submission.link, submission.link %></p>
  </section>


  <p class='muted'>Student Notes</p>
  <section>
    <%= markdown submission.notes %>
  </section>

  <p class='muted'>Status</p>
  <section>
    <h4><%= submission.completed ? 'Completed' : 'Not Complete' %> <%= submission.late ? 'Late' : 'Not Late' %></h4>
    <% submission.ratings.each_with_index do |rating, index| %>
      <% if rating.notes.length > 1 %>
        <p class='muted'>Feedback on Submission added <%= distance_of_time_in_words_to_now rating.created_at %> ago</p>
        <section><%= markdown rating.notes %></section>
      <% end %>
    <% end %>
  </section>

  <footer>
    <h1></h1>
    <% if current_instructor %>
      <%= react_component('GradeSubmissionForm', { submissionID: submission.id,
                                                   nextForStudent: next_submission_url_for_student(submission),
                                                   nextForAssignment: next_submission_url_for_assignment(submission)}) %>
    <% end %>
  </footer>
</article>

